@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
}

button {
  background-color: hsl(100, 100%, 25%);
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  cursor: pointer;

  
}
button:hover {
  background-color: hsl(100, 100%, 45%);
}