:root {
  --dark-color: rgb(39, 31, 88);
  --white: rgb(255, 255, 255);
}
  

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 1rem auto;
}

body.dark {
  background-color: var(--dark-color);
  color: var(--white);
}

.dark-mode-button {
  background-color: var(--dark-color);
  position: absolute;
  top: 10px; 
  right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}




body.dark .dark-mode-button {
  background-color: var(--white);
}