body {
  font-family: 'Montserrat', sans-serif;
}

summary > * {
  display: inline;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.padre {
  margin: 1rem 0;
  border: 3px solid black;
  background-color: hotpink;
}

.hijo {
  border: 3px solid gold;
  background-color: lightseagreen;
  padding: 1rem; 
  font-weight: bold;
}



.padre-01 {
  display: grid;
  height: 400px;

  /* Numero de columnas y tamaños */
  grid-template-columns: 30px 100px 75px;
  grid-template-columns: 25% 50% 50%;
  grid-template-columns: 100px 50% 3rem 25px;

  /* Grid ha inventado una nueva medida, fr */

  grid-template-columns: 100px 1fr;
  grid-template-columns: 50px 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;


  grid-template-columns: repeat(3, 1fr);



  /* Número de filas y tamaños */
  grid-template-rows: 50px 50px 50px;
  grid-template-rows: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);

  /* Añadir espacios entre columnas y filas */
  row-gap: 10px;
  column-gap: 1rem;
  gap: 1rem;
}




.padre-02 {
  display: grid;
  /* grid-template-columns: min-content min-content min-content; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 300px;

  /** Alineación de hijos EN SUS CELDAS */
  justify-items: stretch; /** por defecto*/
  justify-items: start;
  justify-items: end;
  justify-items: center;

  align-items: stretch; /** por defecto*/
  align-items: start;
  align-items: end;
  align-items: center;
  align-items: baseline;

  /** Alinear los hijos EN EL PADRE SI SOBRA ESPACIO  */
  grid-template-columns: 100px 75px 150px;
  grid-template-rows: 75px 75px;

  justify-content: start; /** por defecto*/
  justify-content: end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;

  align-content: start; /** por defecto*/
  align-content: end;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly;

}




.padre-03 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.padre-03 .hijo-01 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; 
}

.padre-03 .hijo-02 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.padre-03 .hijo-03 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}




.padre-04 {
  display: grid ;

  height: 400px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.padre-04 .hijo-03 {
  grid-column: 3 / 4;
  /* grid-row: 1 / 4; */
  grid-row: 1 / span 3;
}

.padre-04 .hijo-04 {
  grid-column: 1 /3;
  grid-column: 1 / span 2;
}



.padre-05 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}