body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


.main-header {
  position: relative;
  background-color: lightseagreen;

  color: white;
  padding: 1rem;

  display: flex;
  align-items: center; 
  justify-content: space-between;

  .main-menu {
    display: none;
    gap:1rem;

    a {
      color: white;
      text-decoration: none;
    }
  }


  .toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
  }

}

.container {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
}

.sidebar {
  position: absolute;
  top: 100%;
  left: 100%;
  /* right: 0; */
  /* opacity: 0; */
  background-color: hotpink;

  transition: translate 0.5s ease;
  /* transition: opacity 0.5s ease; */
  
  .sidebar-menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
    }
  }
}


/** Estilos del sidebar-2 */

.sidebar-2 {
  background-color: bisque;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  /* opacity: 0.6; */


  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  a {
    color: lightseagreen;
    text-decoration: none;
    font-size: 2rem;
  }
}


/* .open {
  translate: -100%;
} */

.open-with-animation {
  animation: moveLeft 0.5s ease forwards;
}

.close-with-animation {
  animation: moveRight 2s ease forwards;
}

/* Animaciones para el sidebar 2 */
.open-sidebar-2-with-animation {
  animation: sidebarIn 0.5s ease forwards;
}

.close-sidebar-2-with-animation {
  animation: sidebarOut 0.5s ease forwards;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 3rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

@keyframes moveLeft {
  0% {
    translate: 0;
  }

  100% {
    translate: -100%;
  }
}

@keyframes moveRight {
  0% {
    translate: -100%;
  }

  100% {
    translate: 0;
  }
}

@keyframes sidebarIn {
  0% {
    opacity: 0;
    translate: 0 -50%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes sidebarOut {
  0% {
    opacity: 1;
    translate: 0;
  }
  100% {
    opacity: 0.6;
    translate: 0 -100%;
  }
}


@media (width >= 600px) {
  .main-header .main-menu {
    display: flex;
  }

  .toggle {
    display: none;
  }
}

