---
import CountryInfo from "../../components/CountryInfo.astro";
import MainLayout from "../../layouts/MainLayout.astro";

// TODO: Creáis todas las páginas estáticas para cada bandera getStaticPaths()

// export async function getStaticPaths() {
//   const response = await fetch("https://restcountries.com/v3.1/all");
//   const data = await response.json();

//   const staticPathsArray = data.results.map((country) => {
//     return {
//       params: { nameCountry: country.name },
//       props: { name: country.name, url: country.url },
//     };
//   });
//   return staticPathsArray;
// }

// const { url } = Astro.props;

// const response = await fetch(url);
// const countryJSON = await response.json();

// export async function getStaticPaths() {
//   const response = await fetch("https://restcountries.com/v3.1/all");
//   const data = await response.json();
//   console.log(data);
// }
---

<MainLayout title="País - Mongolia">
  <main class="container mx-auto my-8 flex flex-col items-center">
    <!-- TODO:  Le pasas el coutnry por props -->
    <!-- <CountryInfo country={countryJSON} /> -->
    <CountryInfo />
  </main>
</MainLayout>
