---
// TODO: Recibe de las props 1 country
---

<h1 class="text-5xl font-bold">Mongolia</h1>
<img
  class="my-8"
  src="https://flagcdn.com/mn.svg"
  alt="Bandera de Mongolia"
  width="300"
/>

<div class="flex gap-4">
  <span><i class="bi bi-people text-green-500"></i> 3278292</span>
  <span><i class="bi bi-coin text-yellow-400"></i> Mongolian tögrög (₮)</span>
</div>
