---

---

<footer class="main-footer">
    <div class="left">
        <div class="politica">
            <a href="#">Política de Privacidad</a>
            <p>&copy; 2025 Creado por Ivan Luengo con 💓</p>
        </div>
    </div>
    <div class="right">
        <div class="phone">
            <h2>Llama</h2>
            <a href="tel:+5213312345678">+52-1-33-12345678</a>
        </div>

        <div class="mail">
            <h2>Escribe</h2>
            <a href="mailto:info@misitio.com">info@misitio.com</a>
        </div>

        <div class="social-media">
            <h2>Sigue</h2>
            <nav class="footer-nav">
                <a href="https://facebook.com">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://x.com">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://linkedin.com">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://instagram.com">
                    <i class="bi bi-instagram"></i>
                </a>
            </nav>
        </div>
    </div>
</footer>

<style>
    .main-footer {
        font-family: 'Montserrat';
        font-weight: 400;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 20px 0;
        .left {
            padding: 0 0 0 30px;
            .politica {
                font-size: 16px;
                line-height: 1;
                font-weight: bold;
            }
        }
        .right {
            display: flex;
            gap: 70px;
            padding: 0 80px 0 0;
            h2,
            a {
                font-size: 16px;
            }
        }
    }
</style>
