---

---

<header class="header">
    <div class="title">
        <div class="blue-box"></div>
        <span class="name"> AGUSTOPA </span>
        <span class="work"> / PROGRAMADOR WEB </span>
    </div>

    <nav class="menu-contenido">
        <a href="./index.html">SOBRE MÍ</a>
        <a href="./curriculum.html">CURRÍCULUM</a>
        <a class="selected" href="#">PROYECTOS</a>
        <a href="./contacto.html">CONTACTO</a>
    </nav>
</header>

<style>
    .header {
        font-family: "Montserrat";
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            .name {
                font-size: 20px;
                font-weight: bold;
            }
        }
        .menu-contenido {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            font-weight: bold;
        }
    }
</style>
