---
import MainLayout from '../layouts/MainLayout.astro';

import Button from '../components/Button.astro';
---

<MainLayout title="Mi primera app con Astro - Currículum">
  <h1>Currículum</h1>
  <Button>Descargar CV</Button>
</MainLayout>
