    @import url('./fonts.css');
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Poppins', sans-serif;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    /** Cabecera */
    
    .main-header {
        background-color: white;
    }
    
    .selected {
        color: hsl(221, 100%, 50%);
    }
    /********************************************/
    /** Main */
    
    main {
        background-color: hsl(30, 32%, 85%);
    }
    
    .home-main {
        background-image: linear-gradient( to right, hsl(30, 32%, 85%) 35%, white 35%)
    }
    
    .profile {
        background-color: hsl(26, 39%, 93%);
    }
    
    .social-icons {
        background-color: white;
        font-size: 20px;
    }
    /** Puedo dar estilos solo al social-icons que esté dentro del footer  */
    
    .main-footer .social-icons {
        font-size: 14px;
    }
    
    .button {
        font-size: 12px;
        font-weight: 600;
    }
    
    .button-primary {
        background-color: hsl(221, 100%, 50%);
        color: white;
    }
    
    .button-secondary {
        background-color: white;
    }
    /* .year-title {
  color: #0050ff;
}

.project-title {
  color: #0050ff;
} */
    /* También podemos unir la misma propiedad en dos selectores 👉 ,  */
    
    .year-title,
    .project-title,
    .required {
        color: hsl(221, 100%, 50%);
    }
    /* Otra opción es hacer una clase de UTILIDAD que me indique qué estilos le va a poner. En este caso el texto en azul */
    
    .text-blue {
        color: #0050ff;
    }
    /* CONTACTO HTML*/
    
    header {
        display: flex;
        height: 12vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* margin: 0 auto; */
        h1 {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1.5px;
            span {
                margin-right: 10px;
                margin-left: 10px;
                .name {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        .menu-contenido {
            display: flex;
            gap: 1.8rem;
            a {
                font-size: 18px;
            }
        }
    }
    
    .blue-box {
        background-color: #0050ff;
        height: 20px;
        width: 20px;
        display: inline-block;
    }
    
    .content {
        background: #E7DCCF;
        height: 80vh;
        .white-box {
            display: flex;
            flex-direction: column;
            padding: 0 50px;
            margin: 0 auto;
            width: 50%;
            .title {
                text-align: center;
            }
            .form {
                margin: 0 auto;
                width: 100%;
                /* border: 1px solid #000; */
                background: #fff;
                padding: 0 50px;
                box-shadow: -5px -1px 20px -3px;
                .flex {
                    display: flex;
                    justify-content: space-between;
                    /* margin-right: 40px; */
                    width: 100%;
                    /* padding: 0 40px; */
                }
                input,
                label {
                    display: block;
                    margin: 20px 0;
                    padding: 0 20px;
                    font-size: 16px;
                    font-weight: 800;
                }
                input,
                textarea {
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 1px solid black;
                }
                input#name,
                input#surname {
                    margin: 30px 0;
                }
                input#email {
                    margin: 30px 0;
                }
                input#subject {
                    margin: 30px 0;
                }
                .button {
                    color: #fff;
                    background: #0050ff;
                    margin: 20px auto 70px auto;
                }
            }
        }
    }
    /* FOOTER */
    
    .main-footer {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 20px 0;
        .left {
            padding: 0 0 0 30px;
            .politica {
                font-size: 16px;
                line-height: 1;
                font-weight: bold;
            }
        }
        .right {
            display: flex;
            gap: 70px;
            padding: 0 80px 0 0;
            h2,
            a {
                font-size: 16px;
            }
        }
    }
    /* PROYECTOS HTML */
    
    .proyectos-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .top-content-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            h1 {
                margin: 0 auto;
                padding: 80px 0 0 0;
            }
            .subtitle {
                margin: 20px auto 60px;
                width: 50%;
            }
        }
        .boxes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            .box {
                width: 100%;
                display: flex;
                height: 50vh;
                padding: 0 0 70px 0;
                .content-text {
                    width: 60%;
                    background: #fff;
                    padding: 20px 30px 0 0;
                    .blue-border {
                        border-left: 10px solid #0050ff;
                        padding-left: 1.5rem;
                        .project-subtitle {
                            font-weight: bold;
                            margin-bottom: 50px;
                        }
                    }
                    .project-text {
                        padding-left: calc(1.5rem + 10px);
                    }
                }
                .content-image {
                    width: 40%;
                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }