body {
  font-family: 'Montserrat', sans-serif;
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
}


input {
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.input-box {
  margin: 1rem 0;
  position: relative;
  .error-message {
    color: crimson;
    font-size: 0.7rem;
    position: absolute;
    left: 0;
    top: 100%;
  }
}

.input-error {
  border-color: crimson;
  background-color: rgba(220, 20, 60, 0.08);
}